/* .Container{
    background-color: red;
} */

body{
    background-image: url('20181022_103949.jpg'); 
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.card{
    width: 280px;
    height: 350px;
    border: 1px solid gray;
    background-color: black;
}
.photo{
    width: 80px;
    border-radius: 50px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aqua;
}
.home-container{
    display: flex;
}
.card-container{
    
}